= link "", to: "#",
           class: "uk-icon-link uk-margin-left",
           data: [{"uk-icon", "icon: plus-circle; ratio: 1.2"}, {"uk-tooltip", "title: #{gettext("Save Recipe")}"}]

= link "", to: Routes.recipe_path(@conn, :edit, @recipe),
           class: "uk-icon-link uk-margin-left",
           data: [{"uk-icon", "icon: cog; ratio: 1.2"}, {"uk-tooltip", "title: #{gettext("Edit Recipe")}"}]

= if recipe_published?(@recipe) do
  = link "", to: Routes.recipe_publication_path(@conn, :delete, @recipe),
            method: :delete,
            class: "uk-icon-link uk-margin-left",
            data: [{"uk-icon", "icon: pencil; ratio: 1.2"}, {"uk-tooltip", "title: #{gettext("Unpublish Recipe")}"}]
- else
  = link "", to: Routes.recipe_publication_path(@conn, :create, @recipe),
            method: :post,
            class: "uk-icon-link uk-margin-left",
            data: [{"uk-icon", "icon: print; ratio: 1.2"}, {"uk-tooltip", "title: #{gettext("Publish Recipe")}"}]
